<body style = "background-color:#808080;">
<h1 style= "text-align:center;">On the Spot: Courier Service</h1>

<%= link_to 'Customer Testimonies', controller: 'testimonies' %>
<%= link_to 'Pickup Scheduler', controller: 'pickups' %>


