<%= form_for @testimony do |f| %>
 
  <% if @testimony.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@testimony.errors.count, "error") %> prohibited
        this Testimony from being saved:
      </h2>
      <ul>
        <% @testimony.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 
<% end %>