<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Accordion - Collapse content</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
   <script>tinymce.init({ selector:'textarea' });</script>
   
  <script>
  $( function() {
    $( "#main_accordion" ).accordion({
      collapsible: true,
      heightStyle: "content",
      active: false,
      navigation:true
      
    });
     $( "#sub_accordion1" ).accordion({
      collapsible: true,
      heightStyle: "content",
      navigation:true,
      active: false
    });
     $( "#sub_accordion2" ).accordion({
      collapsible: true,
      heightStyle: "content",
      active: false,
      navigation:true
    });
     $( "#sub_accordion3" ).accordion({
      collapsible: true,
      heightStyle: "content",
      active: false,
      navigation:true
    });
  } );
  </script>
  
  
</head>
<body>
  
  <header><h1>Faq Management</h1>
    <a href="https://packagedelivery-jinzfrield.c9users.io">Customer Faq</a>
    <a href="https://packagedelivery-jinzfrield.c9users.io/fa_q/manager_faq">Manager Faq</a>
  </header>
  
  <!--
    <div class="managerfaq_container">
      <section class="faq_section">
        <label for="faq_Title">*Title :</label>
        <input type="text" name="Faq Title" class="faq_title_text" size="40">
        <button class="faq_save">Save</button>
        <button class="faq_cancel">Cancel</button>
        <br><br><br>
        <label for="faq_Entry">*Entry :</label>
        <br>
        
        <textarea class="faq_textarea" >Please enter your related Faq Answer</textarea>
        <br><br><br><br><br><br><br>
        <button class="faq_save" >Save</button>
        <button class="faq_cancel" >Cancel</button>
      </section>
      <nav class="faq_nav">
        <button class="faq_add">Add new main Faq</button>
        <div id="main_accordion">
          <h3>General Faq</h3>
            <div>
              <div id="sub_accordion1">
                <h4>General Faq 1</h4>
                  <div>
                    <button class="faq_edit">Edit</button>
                    <button class="faq_delete">Delete</button>
                  </div>
                <h4>General Faq 2</h4>
                  <div>
                    <button class="faq_edit">Edit</button>
                    <button class="faq_delete">Delete</button>
                  </div>
                <h4>General Faq 3</h4>
                   <div>
                      <button class="faq_edit">Edit</button>
                      <button class="faq_delete">Delete</button>
                    </div>
                <h4>General Faq 4</h4>
                    <div>
                      <button class="faq_edit">Edit</button>
                      <button class="faq_delete">Delete</button>
                    </div>
              </div>
              <button class="faq_add">Add</button>
              
            </div>
          <h3>Individual Customer Faq</h3>
            <div>
               <div id="sub_accordion2">
                  <h4>Individual Customer Question 1</h4>
                    <div>
                      <button class="faq_edit">Edit</button>
                      <button class="faq_delete">Delete</button>
                    </div>
                <h4>Individual Customer Question 2</h4>
                    <div>
                      <button class="faq_edit">Edit</button>
                      <button class="faq_delete">Delete</button>
                    </div>
                <h4>Individual Customer Question 3</h4>
                    <div>
                      <button class="faq_edit">Edit</button>
                      <button class="faq_delete">Delete</button>
                    </div>
                <h4>Individual Customer Question 4</h4>
                    <div>
                      <button class="faq_edit">Edit</button>
                      <button class="faq_delete">Delete</button>
                    </div>
            </div>
            <button class="faq_add">Add</button>
        </div>
          <h3>Business Customer Faq</h3>
            <div>
              <div id="sub_accordion3">
                <h4>Business Customer Question 1</h4>
                  <div>
                    <button class="edit">Edit</button>
                    <button class="delete">Delete</button>
                  </div>
                <h4>Business Customer Question 2</h4>
                  <div>
                    <button class="edit">Edit</button>
                    <button class="delete">Delete</button>
                  </div>
                <h4>Business Customer Question 3</h4>
                 <div>
                    <button class="edit">Edit</button>
                    <button class="delete">Delete</button>
                  </div>
                <h4>Business Customer Question 4</h4>
                  <div>
                    <button class="edit">Edit</button>
                    <button class="delete">Delete</button>
                  </div>
                
            </div>
            <button class="faq_add">Add</button>
            
          </div>
        </div>
        <button class="faq_add">Add new main Faq</button>
      </nav>
   </div>
-->
</body>

 
</html>

