// Place all the styles related to the FaQ controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

 div.managerfaq_container {
    width: 100%;
    
  }
  
    .faq_nav{
        
        float: right;
        width:26.4%;
        height:480px;
        margin: 0;
        border-style:solid;
       
      }
    .faq_section{
      float:left;
      padding: 1em;
      width:70%;
      height:450px;
      overflow: hidden;
      background-color:white;
      border-style:solid;
      
    }