    
    .faq_save{
      width:150px;
      height:30px;
      background-color:#ADD8E6;
      float:right;
      margin-right:20px;
      
      
    }
    
    .faq_cancel{
      width:150px;
       height:30px;
       background-color:#ADD8E6;
       
      float:right;
      margin-right:20px;
      
    }