// Place all the styles related to the FaQ controller here.
   div.managerfaq_container {
    width: 100%;
    
  }
   
   .faq_nav{
      
      float: right;
      width:26.4%;
      height:480px;
      margin: 0;
      border-style:solid;
      background-color:rgb(200,200,200);
    }
    .faq_section{
      float:left;
      padding: 1em;
      width:70%;
      height:450px;
      overflow: hidden;
      background-color:white;
      border-style:solid;
      
    }
    
    button{
      background-color: white;
      border-style: solid;
      color: black;
      height:40px;
      width:30px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      
      cursor: pointer;
    }
    .faq_edit{
      width:45%;
      position:left;
    }
    .faq_delete{
      width:44%;
      position:right;
    }
    .faq_add{
      width:100%;
    }
    .faq_save{
      width:150px;
      height:30px;
      background-color:#ADD8E6;
      float:right;
      margin-right:20px;
      
      
    }
    
    .faq_cancel{
      width:150px;
       height:30px;
       background-color:#ADD8E6;
      position:right;
      float:right;
      margin-right:20px;
      
    }
    
    
    .faq_title_text{
      margin-left: 20px;
      border-style:groove;
      
    }
    
   
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
