// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.corner{
  
}

.btn-faqadd{
  
  position:relative;
  top:50%; 
  left:35%;
}

.panel > .panel-heading {
    background-image: none;
    background-color: 	#B0E0E6;
    color: white;

}