<html>
<head>
    <title>Generate Quote</title>
    <script type="text/javascript">
        function calcQuote()
        {
            //Obtain user inputs
            var height=Number(document.getElementById("height").value);
            var heightunits=document.getElementById("heightunits").value;
            var weight=Number(document.getElementById("weight").value);
            var weightunits=document.getElementById("weightunits").value;
            var length=Number(document.getElementById("length").value);
            var lengthunits=document.getElementById("lengthunits").value;
            var width=Number(document.getElementById("width").value);
            var widthunits=document.getElementById("widthunits").value;


            //Perform calculation
            var resQuote=length*height*width+weight;

            //Display result of calculation
            document.getElementById("output").innerText=resQuote;

        }
    </script>
</head>
<body>
    <h1>New Quote</h1>
    <p>Enter parcel height: <input type="text" id="height"/>
        <select type="multiple" id="heightunits">
            <option value="metres" selected="selected">metres</option>
            <option value="millimetres">millimetres</option>
            <option value="centimetres">centimetres</option>
        </select>
    </p>
    <p>Enter parcel weight: <input type="text" id="weight"/>
        <select type="multiple" id="weightunits">
            <option value="kg" selected="selected">kilograms</option>
            <option value="grams">grams</option>
        </select>
    </p>
    <p>Enter parcel length: <input type="text" id="length"/>
        <select type="multiple" id="lengthunits">
            <option value="metres" selected="selected">metres</option>
            <option value="centimetres">centimetres</option>
            <option value="millimetres">millimetres</option>
        </select>
    </p>
    <p>Enter parcel width: <input type="text" id="width"/>
        <select type="multiple" id="widthunits">
            <option value="metres" selected="selected">metres</option>
            <option value="centimetres">centimetres</option>
            <option value="millimetres">millimetres</option>
        </select>
    </p>
    <input type="submit" value="calculate quote" onclick="calcQuote();">
    <h1>Cost of package delivery is: $ <span id="output">?</span></h1>

</body>
</html>
