<!doctype html>
<html lang="en">

  <%= render 'shared/accordion_function' %>
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
   <script>tinymce.init({ selector:'textarea' });</script>
</head>

<body>
  <header>
    <h1>Faq Management</h1>
    
  </header>
  <div class="managerfaq_container">
      <section class="faq_section">
        
         
         
      </section>
      <!----Navigation Bar---------------------------------->
      <nav class="faq_nav">
          
         <%=render 'shared/manager_accordion'%>
     </nav>
  <!----Data---------------------------------->
   </div>
   
    
</body>
 
</html>

